<h1 class="center">All Articles</h1>

<div class='container'>
	<ul id='articles'>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: 'article_title' %>
		</li>
	<% end %>
	</ul>
</div>
