@import "bootstrap-sprockets";
@import "bootstrap";

$primary_color: #AAA;
$text_color: #5e4477;



h1 {
	font-family: 'Raleway', sans-serif;
	color: $text_color;
	margin: 20px auto;
	padding: 40px 20px;
}

body {
	background-color: $primary_color;
	font:{
		family: 'Raleway', sans-serif;
		size: 14px;
	}
	padding: 10px 10px;
}

a {
	color: $text_color;
	img {
		border: none;
	}
}



.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

.form {
	background: #AAB;
	border: solid 1px black;
	margin: 20px auto;
	padding: 20px;
}

.btn {
	border: solid 1px black;
	padding: 5px 10px;
	border-radius: 5px;
	background: #FFF;
	text-decoration: none;
	color: $text_color;
}
.flash{
	color: #92f442;
	padding: 10px;
	margin: 0 auto;
}

.center{
	text-align: center;
}
.text_area{
	width: 75%;
	margin: 0 auto;
	border: solid 1px black;
}
.text_field{
	width: 75%;
	margin: 0 auto;
	border: solid 1px black;
}
.tag_field{
	width: 70%;
	margin: 0 auto;
	border: solid 1px black;
}

.container {
	width: 75%;
	margin: 0 auto;
	background: #FFF;
	padding: 20px 40px;
	border: solid 1px black;
	margin-top: 20px;
}

#content {
	clear: both;
	padding-top: 20px;
}
#container{
	margin: 0 auto;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	color: $text_color;
	font-size: 16px;

}

#articles{
	margin: 0 auto;
	width: 60%;
}
.title {
	font-family: 'Raleway', sans-serif;
	color: $text_color;
	font-size: 16px;
	float: left;
	width: 20%;
	padding: 0 5px;
}
#user{
	ont-family: 'Raleway', sans-serif;
	color: $text_color;
	font-size: 16px;
	float: left;
	width: 30%;
}
.loginout{
	border: solid 1px black;
	padding: 2.5px;
	background: #AAB;
	border-radius: 5px;
	text-decoration: none;
	margin-left: 10px;
}


